body{
    margin: 0;
    background-color: black;
}



.mystory__hero__container{
    margin: 0 auto;
    position: relative;
    display: flex;
    height: 600px;
    max-width: 900px;
    border:2px solid red;
}

/* .mystory__hero__image{
    
} */

.mystory__hero__textbox{
    position: absolute;
    top: 250px;
    right: 0;
    width: 200px;
    height: 75px;
    text-align: center;
    overflow: hidden;
}

section{
    max-width: 900px;
    margin:0 auto;
    padding: 0;
}

.mystory__prior__experience__container ,.mystory__story__container{
    max-width: 900px;
    padding: 0 10px;
}

.orange-line{
    height: 5px;
    width: 800px;
    background-color: orange;
    content: "";
    display: block;
}

/* typography */

h1,h2,h3,p{
    color: white;
}
h1,h2,h3{
    font-family: 'Nunito', sans-serif;;
}

h1{
    font-size: 30px;
    color: orange;
}

h2{
    font-size: 25px;
}

h3{
    font-size: 20px;
}

.date{
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin-top: 30px;
    /* margin-bottom: 10px; */
}

.no_space{
    margin: 0;
}

.mystory__hero__textbox p{
    margin-bottom: 0;
}