:root{
/* Theme Color */
--color-black: #323232; /*background color from figma page*/
--color-grey:#adadad;
--color-red-primary: #e73732;
--color-orange-secondary: #ef5e36;
--color-peru-button-background: #d97e4a;
--color-white: #fff;


/* Font Size */
--font-large: 4rem;
--font-medium: 1.8rem;
--font-regular: 1.5rem; /*10px*/
--font-small: 0.9rem;
--font-micro: 0.7rem;

/* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

/* animation */
    --animation-duration: 300ms;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10/16 = .625 = 62.5% || so now 1rem = 10px (for easier calculation) */
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Red Hat Display', sans-serif;
  line-height: 1.56;
  background-color: var(--color-black);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


  /* Typography */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-white);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-white);
    margin: 8px 0px;
}

h3 {
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
    color: var(--color-white);
    margin: 8px 0px;
}

p {
    font-size: var(--font-medium);
    font-weight: var(--weight-regular);
    color: var(--color-white);
    margin: 4px 0px;
}

/* HEADER */


.header {
  height: 90vh;
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  padding: 5rem;
}

.header__description {
  margin: 1.5rem 0;
}

.header__illustration {
  height: auto;
  max-width: 100%;
}

.header__chats {
  padding-top: 8rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header__text {
  flex: 2;
}

.header__picture {
  flex: 1;
}

.header__cta {
  display: inline-block;
  margin-top: 1rem;
  background: #d8741d;
  color: #fff;
  padding: .5rem 1.4rem;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 4px;
}

.chat__avatar {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.chat--chef {
  background-color: #c9cacc;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
  padding: .5rem .8rem;
  border-radius: 15px;
  align-self: flex-end;
  animation: popup .2s;
  min-width: auto;
  max-width: 27rem;
  text-align: right;
  margin-bottom: 1.5rem;
  
}
.chat--chef p{
  font-size: var(--font-medium);
  color: var(--color-black)
}

.chat--client {
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .5rem .8rem;
  border-radius: 15px;
  text-align: left;
  align-self: flex-start;
  animation: popup .2s;
  margin-bottom: 1.5rem;
}
.chat--client p{
  font-size: var(--font-medium);
  color: var(--color-black);
}
#navbar {
  background: var(--color-black);
  position: fixed;
  display: flex;
  background-color: var(--color-black);
  align-items: center;
  padding: 8px;
  width: 100%;
  z-index: 1;
}

.navbar__logo{
  color: var(--color-orange);
  font-size: var(--font-medium);
  width: 40%;
  padding-left: 1rem;
}

.navbar__menu{
  display: flex;
  color:var(--color-orange);
  justify-content: space-between;
  width: 50%;
}

@keyframes popup {
  0% {
      transform: scale(1);
  }
  90% {
      transform: scale(1.056);
  }
  100% {
      transform: scale(1);
  }
}

/* Menu page */
#menu-detail{
  
}
.our-menus{
  color: var(--color-orange);
}
section #menu_one{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

#menu__one{
  background-color: orange;
}
#menu__two{}
#menu__three{
  background-color: orange;
}

.playlists{
  display: flex;
  justify-content: center;
}

.footer {
  height: 90vh;
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  padding: 5rem;
}
