:root{
/* Theme Color */
--color-black: #323232; /*background color from figma page*/
--color-red: 
--color-deep-orange:
--color-orange:
--color-dark-reds:
--color-white:



/* Font Size */
--font-large: 2rem;
--font-medium: 1.25rem;
--font-regular: 1rem; /*10px*/
--font-small: 0.9rem;
--font-micro: 0.7rem;

/* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

/* animation */
    --animation-duration: 300ms;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10/16 = .625 = 62.5% || so now 1rem = 10px (for easier calculation) */
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


  /* Typography */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0px;
}

h3 {
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0px;
}

p {
    font-size: var(--font-small);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0px;
}